body {
  font-family: 'PT Sans', sans-serif;
}

hr{
  border: 10px dotted #dee4e8;
  border-bottom: none;
  width: 8%;
  margin: 50px 50%;
}

/* Navbar */
.nav-link {
  font-size: 1.25rem;
}

/* Home Section */
#home {
  padding: 7rem 0;
  background-image: url("../imgs/IMG_1400.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 31.25rem;
}

.home-container {
  text-align: center;
  color: #fff;
  font-family: 'Caveat', cursive;
}

.home-container h2 {
  font-size: 3.5rem;
}

.home-container h1 {
  font-size: 4rem;
}

@media (min-width: 1200px) {
  #home {
    background-position: center;
  }
}

/*  information Section */
#information {
  padding: 7rem 0;
  background-color: #dee4e8;
}

.information-container h1 {
  text-align: left;
  font-family: 'Special Elite', cursive;
  color: maroon;
  font-weight: 700;
  display: block;
}

.information-container h4 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  color: #e89127;
}

.information-container h5 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  color: #000;
}


/* Project Section */
#projects {
  padding: 7rem 0;
  background-color: #fff;
}

.project-heading {
  margin: 0 0 1rem 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.project-dscrp {
  font-size: 1.25rem;
}

.project-img {
  border-radius: 3%;
  border: 2px solid gray;
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 880px) {
  .project-dscrp {
    font-size: 1rem;
  }
}

/* Skill Section */
#skill {
  padding: 7rem 0;
  background-color: #dee4e8;
  color: #000;
}

.skill-heading {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 4rem;
}

.skill-star {
  text-align: left;
}


/* Contact Section */
#contact {
  padding: 7rem 0;
  text-align: center;
}

.contact-heading {
  margin-bottom: 2rem;
}

.contact-icon {
  margin: 4rem 0;
}

.icon{
  margin: 2rem;
}